*{
    margin: 0px;
    padding: 0px;
}  
.logo-img img{
    width: 20px;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0px;
}
.logo, .logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.logo-img{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 5px;

}
.hlw{
    display: flex;
    justify-content: space-between;
}
.pics{
    width: 300px;
    margin-right: 150px;
}
.text{
 
    width: 50%;
    text-align: center;
    background-color: rgba(241, 68, 174, 0.03);
  
    
    
}
.like{
    color:#8758F1 ;
    font-size: 40px;

}
.btn{
    background-color: #F948B2;
    font-size: 20px;
    border-radius: 20px;
    color: aliceblue;
    margin: 30px;
    padding: 5px;
    border: none;
}
.btd{
    background-color:#4EC5F7 ;
    color: white;
    font-size: 20px ;
    border-radius: 20px;
    padding: 5px;
    border: none;
}
.intro{
    width: 450px;
}
.third{
    width: 50%;
   text-align: end;

}
.second{
    display: flex;
}
.txt{
    text-align: right;
    padding: 30px;
}
.tit{
    text-align: center;
}
.pi{
    color: #534C64;
}
.akik{
    width: 200px;
    margin: 20px;
}
.im{
    display: flex;
    justify-content: center;
}
.cow{
    width: 300px;
    margin-left: 50px;
}
.akib{
    display: flex;
    justify-content: center;
    margin: 20px;
   
}
.do{
    color: #534C64;
    text-align: right;
    font-size: 10px;

}
.boy{
    justify-content: center;
    text-align: right;
    margin: 100px;
}
.liker{
    color: #F948B2;

}
.hi{
    width: 150px;
    
}
.maruf{
    position: relative;
    bottom: 120px;
}
.all{
    
    display: flex;
    background-color: #F948B2;
   
}
.group{
    width: 500px;
    background-color:rgba(255, 255, 255, 0.10);;
    
}

.ex{
    color: white;
    line-height: 100px;
    margin-left: 100px;

}
.sr{
    width: 50%;
    background-color: #F948B2;
    
    
}
.tr{
    color: #FFF;
    font-size: 9px;
    margin-left: 100px;
    margin-top: -30px;
    
    
    
}
.type{
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.game{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}
.type2{
    display: flex;
    justify-content: center;
}
.game img{
    width: 32px;
}
.game:hover{
    border: 1px solid #F948B2;
    border-radius: 50px;
}
.muri{
    width: 30px;
    
}
.khabo{
    color: #F948B2;
    
}
.dori{
    display: flex;
 
    
}

.lo{
    display: inline-flex;
    gap: 60px;
    color: azure;
}
.foot{
    background-color: black;
    height: 300px;
}
.ji{
    color:white ;
}
.pac img{
       width: 24px;
}
.foot{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.terms, .copyright{
    color: #FFF;
}
.terms{
    display: flex;
    gap: 30px;
}
.pac{
    display: flex;
    gap: 30px;
}
@media  screen and (max-width: 600px){
    header{
        flex-direction: column;
    }

}
    
